blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.3
codes==0.1.5
et-xmlfile==1.1.0
ezenv==0.92
Flask==2.3.2
future==0.18.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
numpy==1.25.0
oauthlib==3.2.2
openpyxl==3.1.2
pandas==2.0.3
Pygments==2.15.1
PyJWT==2.7.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.4.2
six==1.16.0
tzdata==2023.3
urllib3==2.0.7
webexteamssdk==1.6.1
Werkzeug==2.3.6
