blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
codes==0.1.5
et_xmlfile==2.0.0
ezenv==0.92
Flask==3.1.0
future==1.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.2.2
oauthlib==3.2.2
openpyxl==3.1.5
pandas==2.2.3
Pygments==2.19.1
PyJWT==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
setuptools==75.8.0
six==1.17.0
tzdata==2025.1
urllib3==2.3.0
webexteamssdk==1.7
Werkzeug==3.1.3
